<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.todule_android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/todule_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/todule_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.example.todule.provider"
            android:name=".provider.ToduleProvider"
            android:exported="false">
        </provider>
        <receiver android:name=".activities.NotificationReceiver">
            <intent-filter>
                <action android:name="com.example.daniel.todule_android.REMINDER_NOTIFICATION"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
                <data android:scheme="@string/reminder_intent_scheme"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>